<!-- 
 <form action="/verifyOtp" method="post">
   <input type="hidden" name="email" value="">
   <label for="otp">Please enter the otp</label>
   <input type="text" name="otp" required>
   <button type="submit">Verify</button> -->



<%- include('authHeader') %>
<div class="text-center center-div">
   <div class="container rounded col-9 col-sm-6 col-md-3 py-4 bg-light">
      <div>
       <h2>Verify OTP</h2>
      </div>
      <form action="/signup/verifyOtp" method="post" id="formh">
       <div class="form-group hight-form">
           <input type="email" class="form-control mt-5" placeholder="email" name="email" value="<%= locals.email %>" readonly>
       </div>
       <div class="form-group">
           <input type="text" class="form-control mt-3" placeholder="Please enter the OTP" name="otp">
       </div>
       <button type="submit" class="form-control mt-3" id='verify-button' style='background-color: #e53637;color:#fff'>Verify</button>
      </form>
       
         <form action="/resendOtp" method="post" class="mt-3">
             <button type="submit" id="otp-resend-button" class="btn btn-danger d-none">Resend OTP</button>
         </form>
      
         <p id="timer" class="text-danger mt-2"></p>
       
       <%- locals.error ? `<p class="text-danger mb-1">${error}</p>` : '' %>
      
   </div>
</div>
<script>
   let timerDuration = '<%= timerDuration %>' 
   console.log('Timer duration:', timerDuration);
   function updateTimer() {
        if (timerDuration <= 0) {
            document.getElementById('timer').classList.add('d-none');
            document.getElementById('otp-resend-button').classList.remove('d-none');
            return;
        }

        const minutes = Math.floor(timerDuration / 60);
        const seconds = timerDuration % 60;
        document.getElementById('timer').textContent = `Time left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

       
        timerDuration--;
        setTimeout(updateTimer, 1000);
    }

    if(timerDuration>0){
      updateTimer();
    }else{
      document.getElementById('otp-resend-button').classList.remove('d-none');
    }
        
    
</script>
</body>
</html>
